* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #305a37;
  color: aliceblue;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

header p {
  font-size: 2rem;
}

header {
  /* margin: 20px 50px 1px 4px; */
  /* margin-top: 20px;
  margin-bottom: 1px; */
  margin-block: 1rem;
  /* margin-inline: 2rem; */
}

header ul {
  /* display: flex; */
  /* margin: 3rem; */
  list-style: none;
  /* margin-bottom: 1rem; */
  /* width: fit-content;
  margin-inline: auto; */
}

header li {
  display: inline;
  margin-right: 10px;
}

header nav a {
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: chartreuse;
}

h1 {
  text-align: center;
  margin: 2rem;
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: 5px 5px 10px black;
}

main p {
  max-width: 80ch;
  line-height: 1.5;
  /* margin: 0 2rem; */
  margin-inline: 2rem;
}

figure {
  margin-inline: 1rem;
}

.contact {
  max-width: fit-content;
  margin: 1rem;
}

.contact fieldset {
  padding: 1rem;
}

.contact__label {
  display: inline-block;
  width: 8rem;
  height: 3rem;
}

.contact__label--textarea {
  /* vertical-align: 42px; */
}

.contact__input {
  width: 15rem;
  color: darkgreen;
  padding: 0.25rem 0.75rem;
  border: 2px solid greenyellow;
  /* border-width: 2px;
    border-style: dotted;
    border-color: red; */
  border-radius: 5px;
  vertical-align: middle;
}

.contact__input:focus-visible {
  outline-color: red;
}

.btn {
  /* background-color: black; */
  color: black;
  padding: 0.25rem 0.75rem;
}

.contact__btn {
  /* margin: 0 14.8rem; */
  /* margin-left: 14.8rem; */
  float: right;
}

/* .contact div {
  text-align: right;
} */
