* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 16px -> 62.5% = 10px = 1rem */
}

body {
  background-image: url(win95w.avif);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Tahoma, sans-serif;
  align-content: center;
}

a,
button,
input {
  font: inherit;
  color: inherit;
}

.window {
  margin: auto;
  background-color: #c0c0c0;
  width: 47.5rem;
  /* width: fit-content; */
  border: 3px solid;
  border-color: white #424242 #424242 white;
  border-radius: 5px;

  /* box-shadow:
    3px 3px #424242,
    -3px -3px white; */
}

.window__header {
  color: white;
  background-image: linear-gradient(to right, #0c2568, #aacbf1);
  /* background-image: linear-gradient(to right in oklch, blue, yellow); */
  padding: 0.5rem 2rem;
  border-radius: 2.5px 2.55px 0 0;

  /* border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0c2468, #96b4d5) 1; */

  position: relative;
}

.window__header::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, #0c2468, #96b4d5);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* .border {
  height: 1px;
  background-image: linear-gradient(to right, #0c2468, #96b4d5);
} */

.window__heading {
  font-size: 1.25rem;
  /* margin: 1rem 2rem; */
}

.window__content {
  padding: 2rem;
  /* display: flex;
  gap: 2rem; */
}

.window__message {
  display: inline;
  margin-inline-start: 2rem;
  font-size: 1.5rem;
  /* vertical-align: 1.25rem; */
}

.window__img {
  width: 4rem;
  height: auto;
  vertical-align: middle;
  /* box-shadow: 3px 3px 0 0 black;
  border-radius: 50%; */
  filter: drop-shadow(3px 3px 0 #808080);
  image-rendering: pixelated;
}

.window__btn {
  margin: 2rem 0 0 35rem;
  /* float: right; */
  padding: 0.25rem 0.75rem;
  background-color: transparent;

  border: 3px outset;
  letter-spacing: -0.5px;
  font-weight: 600;

  &:hover,
  &:focus-visible {
    cursor: pointer;
  }
}

.window__btn:active {
  border: 3px inset;
}
